:root {
  --primary-color: #f15a24;
  --text-color: #4e4b66;
  --heading-color: #1a1a1a;
  --card-bg: #f7f7f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  color: var(--text-color);
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 39px;
  line-height: 46px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 49px;
    line-height: 59px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 61px;
    line-height: 73px;
  }
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

h1,
h2 {
  color: var(--heading-color);
}

ul {
  list-style: none;
}

picture {
  display: flex;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.icon {
  padding: 3px;
}

.btn-primary {
  padding: 16px 32px;
  background-color: var(--primary-color);
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  border: 1px solid var(--primary-color);
  transition: 0.5s all;
}
.btn-primary:hover {
  color: var(--primary-color);
  background-color: #fff;
}
@media (min-width: 1024px) {
  .btn-primary {
    padding: 16px 48px;
  }
}

.top-header {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header .burger-btn,
.top-header .burger-btn rect {
  transition: all 0.3s;
}
.top-header__navigation, .top-header__contact-btn {
  display: none;
}
.top-header .burger-btn {
  cursor: pointer;
  transition: all 0.3s;
}
.top-header .burger-btn rect {
  transition: all 0.3s;
}
.top-header .burger-btn:hover {
  transform: scale(1.1);
}
.top-header .burger-btn:hover rect {
  fill: #fe9872;
}
@media (min-width: 768px) {
  .top-header {
    padding: 24px 32px;
  }
}
@media (min-width: 1024px) {
  .top-header {
    padding: 24px 40px;
  }
  .top-header__navigation, .top-header__contact-btn {
    display: flex;
  }
  .top-header__navigation {
    gap: 40px;
  }
  .top-header__navigation li a {
    line-height: 24px;
    color: var(--text-color);
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
  }
  .top-header__navigation li a:hover {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
  }
  .top-header__contact-btn {
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    padding: 16px 48px;
    color: var(--primary-color);
    font-weight: 700;
    transition: all 0.3s;
  }
  .top-header__contact-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
  .top-header .burger-btn {
    display: none;
  }
}

.card {
  background-color: var(--card-bg);
  padding: 24px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.card__content p {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .card + .card {
    margin-top: 16px;
  }
}
@media (min-width: 768px) {
  .card {
    align-items: start;
  }
  .card__content {
    align-items: start;
  }
  .card__content p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }
}

.section-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-main__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-main__content h1 {
  text-align: center;
  max-width: 20ch;
  margin: auto;
}
.section-main__info-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.section-main__info-text p {
  text-align: center;
  max-width: 63ch;
  margin: auto;
}
.section-main picture {
  width: 100%;
  min-height: 280px;
  max-height: 510px;
}
.section-main picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (min-width: 1024px) {
  .section-main {
    gap: 52px;
  }
}
@media (min-width: 1280px) {
  .section-main {
    gap: 57px;
  }
}

@media (min-width: 768px) {
  .section-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .section-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .section-card {
    align-items: start;
  }
  .section-card__content {
    align-items: start;
  }
  .section-card__content p {
    text-align: left;
  }
}

.page-index main > .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 60px;
}

.page-about main > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 100px;
}/*# sourceMappingURL=styles.css.map */